@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 130px;
  }
  /*shared styles*/
.display-flex{
    display: flex;
   
}
.text-gray{
  
  color: rgb(66, 66, 66);
}
.text-light-gray{
    
    color: rgb(114, 114, 114);
}
.bg-colorful{
    background-color:  rgba(255, 144, 14, 0.1);
}
.bg-white{
    background-color:  rgb(30, 30, 30);
}

.btn-primary{
    border-radius: 8px;
    padding: 14px 25px;
    background-color: rgb(255, 144, 14);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font:1.45rem;/*20px*/
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
 /*header styles*/

/*navbar styles*/
.navbar{
       justify-content: space-between;
       align-items: center;
}
.brand{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
   
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    flex-direction: column;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-head{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;/*64x=4rem*/
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
}
.cont-p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.banner-img{
    width: 100%;/*responsive*/
}
/*main team*/
.teams{
    align-items: center;
}
.team-img-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.team-text-content{
    margin-left: 130px;
    max-width: 530px;
}
.text-head{
font-family: Work Sans;
font-size: 3.1rem;/*45px;*/
font-weight: 500;
line-height: 53px;
letter-spacing: 0%;
text-align: left;
color: rgb(114, 114, 114);
}

.team-p{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.orange{
    color:rgb(255, 144, 14) ;
    font-weight: 700;
}
.black{
    color: rgb(19, 19, 19);
    font-weight: 700;
}
/*Feature Will Enjoy*/
.features-sec{
    gap: 140px;
}
#feature-sec-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    text-align: left;
    width: 468px;
    height: 106px;
   
}
.facts-p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.feature{
    border-radius: 8px;
padding: 30px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
margin-bottom: 20px;
}
.feature{
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-box-head{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.team-p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700px;
}
.feature-architect img{
    width: 100%;
}
/*Facts*/
.section-title{
    color: rgb(19, 19, 19); 
    font-size: 2.8125rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 15px;
}
.facts-p{
    color: rgb(114, 114, 114);  
    font-size: 16px;
    font-weight: 400;
    text-align: left;    
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 10px;
}
.fact-card{
    width: 240px;
    height: 240px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;  
  align-items: center;
  text-align: center;
  justify-content: center;
}

  
   .fact-num{
       color: rgb(66, 66, 66);
      
       font-size: 2.8rem;
       font-weight: 600;
       margin-top: 5px;
     margin-bottom: 10px;
   }
   .fact-name{
       color: rgb(114, 114, 114);
    
       font-size: 1.25rem;
       font-weight: 600;
       margin-top: 5px;
   }
   
   /*sponsor*/
   .sponsor-details{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

   }
   .section-title-sponsor{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
   }
   .sponsor-p{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
   }

   .sponsor-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
   }

   .gray-image {
    filter: grayscale(100%);
}
/*responsive media query*/
@media screen and (max-width:576px){
    
    .navbar,
    .nav-links,
    .teams,
    .features-sec{
        flex-direction: column;
    }

    .team-img-cont,
    .facts-container,
    .sponsor-container{  
        grid-template-columns: repeat(1,1fr);
    }
    .team-text-content{
        margin-left: 20px;    
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;   
    }
    /*facts*/
    .facts-container{
     justify-content: center;
      margin-left: 100px;
    }
    .sponsor-container{
        justify-content: center; 
        gap: 50px;
        margin-left: 120px;
    }
    
}

@media screen and (min-width:576px) and (max-width:992px) {

     .teams{
        flex-direction: column;
    }
    .team-text-content{
        margin-left: 50px auto;
      
    }
    .team-img-cont,
    .facts-container,
    .sponsor-container{  
        grid-template-columns: repeat(3,1fr);
    }

    .facts-container{
        justify-content: center;
        gap: 50px;
     
       }
       .sponsor-container{
           justify-content: center; 
           gap: 50px;
     
       }
}